@import "tailwindcss";

@theme {
  --animate-glow: glow 2s ease-in-out infinite alternate;
  --animate-shimmer: shimmer 2.5s linear infinite;

  @keyframes glow {
    from {
      box-shadow: 0 0 10px -5px #0CF2A0;
    }
    to {
      box-shadow: 0 0 25px 2px #0CF2A0;
    }
  }

  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
}

.instagram-gradient {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.instagram-text {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
